.group {
  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background: rgba(50, 50, 50, 0.6);
    display: none;
  }
}

.group > .header {
  .header-option {
    padding: 0;

    .switch {
      margin: 0;
      padding: 0;
    }
  }
}

.group > .children {
  padding: 10px 0;

  background-color: #FFF;
}

.group-box {
  background-color: #FFF;
}

.group-box > .header {
  padding: 0;

  background-color: #F5F5F5;
  border: 1px solid #D8D8D8;
  border-bottom: 0;

  .header-title {
    padding: 0;

    h3 {
      margin: 0;
      padding: 9px 10px 10px;

      font-size: 14px;
      font-weight: 600;
      line-height: 17px;
    }
  }

  .header-option .switch {
    padding: 5px;
  }
}

.group-box > .content {
  padding: 10px;

  border: 1px solid #D8D8D8;

  .option-checkbox input[type="checkbox"] {
    margin: 0 0 0.6rem;
  }
}

.group-box:last-child {
  margin-bottom: 0;
}

.group-box:not(.enabled) > .content {
  padding: 0;

  border-top: none;
}

.group-box:not(.enabled) > .content > .children {
  display: none;
}

.group-flat {
  height: 100%;
}

.group-flat > .header {
  padding: 0 30px;

  background-color: #F5F5F5;
  border-bottom: 1px solid #D8D8D8;

  .header-title {
    padding: 16px 0 16px 8px;

    h3 {
      margin: 0;

      font-size: 20px;
      font-weight: 600;
    }
  }

  .header-option {
    padding: 18px 6px 18px 0;

    .switch {
      height: 24px;
    }
  }
}

.group-flat > .content {
  position: relative;
  min-height: calc(100% - 61px);

  padding: 20px 30px;

  background-color: #FFF;
}

.group-flat:not(.enabled) > .content > .overlay {
  display: block;
}
